.mat-toolbar{
    background-color: black;
    color: white;
}

.mat-button{
    color: white;
}

.mat-button:hover{
    text-decoration: none;
    box-shadow: 0 0 5px 1px rgba(255, 255, 242, 0.8);
    background-color: rgb(30,30,30);
}
  
.spacer{
    flex: 1 1 auto;
}

p{
    color:dodgerblue;
}