<!doctype html>
<div class="movie-view" style="display: flex;">
    <mat-card class="card-internals" *ngFor="let movie of movies;" style="flex: 1 1 auto;">

        <mat-card-header 
            class="center" 
            style="              
                padding-top: 10px;
                margin-bottom: 15px; 
                border: 1px solid rgb(181, 181, 181);
                border-radius: 3px;
                height: 190px;
                "
        >
            
            <mat-card-subtitle  class="center" >
                <button mat-button
                    (click)="openGenreCard(
                        movie.Genre.Name, movie.Genre.Description
                    )"
                    color="primary">
                    Genre: <i>{{movie.Genre.Name}}</i>
                </button>              
            </mat-card-subtitle> 


            <mat-card-title   
                class="center"
            >
                {{movie.Title}}
            </mat-card-title>           
            <mat-card-subtitle  class="center" style="color:dodgerblue;">
                &#10070;
            </mat-card-subtitle>


            <mat-card-subtitle  class="center">
                Directed by:               
            </mat-card-subtitle>
            <mat-card-subtitle  class="center">
                <button mat-button
                (click)="openDirectorCard(
                        movie.Director.Name, movie.Director.Bio, movie.Director.Birth, movie.Director.Death
                    )"
                    color="primary"
                    >
                    {{movie.Director.Name}} 
                </button>              
            </mat-card-subtitle>
          
            
        </mat-card-header>

        
        <div class="center" (click)="openMovieDetailsCard(
            movie.Title, movie.Description, movie.Actors
        )">
            <img 
            src={{movie.ImagePath}} 
            alt= {{movie.Title}}
            width = 100%
            
        />
        </div>
              

        <mat-card-footer >                       
            <button
                mat-stroked-button
                (click)="addtoFavoriteMovies(movie._id)"
                color="basic"
                style="
                    width: 88%; 
                    margin-left: 6%; 
                    margin-bottom:10px; 
                    margin-top:10px; 
                    height: 50px;
                    border: 1px solid rgb(181, 181, 181);                      
                "
            >  <mat-icon 
                    style="color:tomato;"         
                        >favorite_border
                </mat-icon>  
            </button>                                                      
        </mat-card-footer>        
    </mat-card>
</div>