.center {
    display: flex;
    justify-content:center; /* align horizontal */
    align-items: center; /* align vertical */
    text-align: center;
}

.card-internals { 
    margin: 25px;
    justify-content: space-around; 
    display: flex;
    min-width: 240px; 
    max-width: 240px;
    flex-direction: column;
    box-shadow: 0 0 4px 1px rgb(88, 88, 88);
}

.movie-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    background-color:#ffbf00d6;
}

mat-card-title:hover{
    letter-spacing: 0.12vw;
}

img{
    border-radius: 4px;
}

img:hover {
    transform: scale(1.02);
}


.mat-card-header .mat-card-title {
    margin-bottom: 22px;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -15px;
}
