<!doctype html>
<div style="display: flex;">
    <mat-card class="card-internals" *ngFor="let movie of movies;" style="flex: 1 1 auto;">

        <mat-card-header class="center" style="background-color: lightblue; padding-top: 10px">
            <mat-card-title  class="center" >{{movie.Title}}</mat-card-title>
            <mat-card-subtitle  class="center">Directed by: {{movie.Director.Name}}</mat-card-subtitle>       
        </mat-card-header>
        
        <mat-icon 
            style="
                display: flex; 
                margin: 0 auto 10px;
                "
                >favorite_border
                </mat-icon>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />

        <mat-card-footer >
            
                <button             
                    mat-stroked-button
                    color="basic"
                    style="width: 41%; margin-left:6%; "
                >   Genre
                </button>
                <button
                    mat-stroked-button
                    color="basic"
                    style="width: 41%; margin-left: 6%; margin-top:10px;"
                >   Director
                </button>
                <mat-divider [vertical]="true"></mat-divider>
                <button
                    mat-stroked-button
                    color="basic"
                    style="width: 88%; margin-left: 6%; margin-top:10px; margin-bottom:10px;"
                >   see Details
                </button>
                                                      
        </mat-card-footer>        
    </mat-card>
</div>