<!doctype html>

<div class="background-div">
    <div class="mainframe-div">

        <div class="movie-view" style="display: flex;">
        
            <mat-card class="card-internals" *ngFor="let movie of movies;">

                <mat-card-header class="center">
                    
                    <mat-card-subtitle  class="center" >
                        <button mat-button
                            (click)="openGenreCard(
                                movie.Genre.Name, movie.Genre.Description
                            )"
                            color="primary"
                        >
                            Genre: {{movie.Genre.Name}}
                        </button>              
                    </mat-card-subtitle> 

                    <mat-card-title class="center"> {{movie.Title}} </mat-card-title>

                    <mat-card-subtitle  class="center logo">
                        &#10070;
                    </mat-card-subtitle>

                    <mat-card-subtitle  class="center">
                        Directed by:               
                    </mat-card-subtitle>

                    <mat-card-subtitle  class="center">
                        <button mat-button
                        (click)="openDirectorCard(
                                movie.Director.Name, 
                                movie.Director.Bio, 
                                movie.Director.Birth, 
                                movie.Director.Death
                            )"
                            color="primary"
                            >
                            {{movie.Director.Name}} 
                        </button>              
                    </mat-card-subtitle>  

                </mat-card-header>

                
                <div class="center" (click)="openMovieDetailsCard(
                        movie.Title, movie.Description, movie.Actors
                    )">
                    <img src={{movie.ImagePath}}  alt= {{movie.Title}} width = 100%/>
                </div>
                    
                <mat-card-footer >                       
                    <button
                        mat-stroked-button
                        (click)="addtoFavoriteMovies(movie._id)"
                    >  
                        <mat-icon> favorite_border </mat-icon>  
                    </button>                                                      
                </mat-card-footer>        
            </mat-card>
        </div>
    </div>
</div>