

.center {
    display: flex;
    justify-content:center; /* align horizontal */
    align-items: center; /* align vertical */
    text-align: center;
}

.card-internals { 
    flex: 1 1 auto;
    margin: 25px;
    justify-content: space-around; 
    display: flex;
    min-width: 240px; 
    max-width: 240px;
    flex-direction: column;
    box-shadow: 0 0 4px 1px rgb(88, 88, 88);
}

.movie-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    background-color:#ffbf00d6;
}

img{
    border-radius: 4px;
}

img:hover {
    transform: scale(1.02);
}

.mat-card-header{
    padding-top: 10px;
    margin-bottom: 15px; 
    border: 1px solid rgb(181, 181, 181);
    border-radius: 3px;
    height: 190px;
}


.mat-card-title {
    margin-bottom: 12px;
}

.logo{
    padding: 8px;
    color:dodgerblue;
}

.mat-card-header .mat-card-subtitle:not(:first-child) {
    margin-top: -15px;
}

.mat-stroked-button{
    color: basic;
    width: 88%; 
    margin-left: 6%; 
    margin-bottom:10px; 
    margin-top:10px; 
    height: 50px;
    border: 1px solid rgb(181, 181, 181); 
}

.mat-icon{
    color:tomato;
}